*.comp.json
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.log
*.cache
*.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
.pyre/
*/.ipynb_checkpoints/
.ipynb_checkpoints/
.idea/
*.sim
